.user-container {
    width: 20rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    border: 4px solid #DA2CA9;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

button {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: none;
    background: #DA2CA9;
    color: white;
    width: 10rem;
    font-size: 1.2rem;
    transition-duration: 0.4s;
    outline: none;
}
button:hover {
  background-color: white; /* Green */
  color: #DA2CA9;
  border: 1px solid #DA2CA9;
}

@media (max-width:600px){
    .user-container {
    width: 15rem;
}
}