.user-container {
    width: 20rem;
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}