.user-container {
    width: 30rem;
    height: 30rem;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border: 1px #E955BF;
    border-radius: 0.5rem;
}
.login-container{
     width: 30rem;
    height: 20rem;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border: 1px #E955BF;
    border-radius: 0.5rem;
}

.imageContainer {
    background: url('../assets/Logo.png');
    width: 13.5rem;
    height: 15rem;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

button {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    background: #E955BF;
    color: white;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
    cursor: pointer;
    background: #DA2CA9;
    color: white;
    width: 10rem;
    font-size: 1.2rem;
    transition-duration: 0.4s;
    outline: none;
}
button:hover {
  background: #EDEDED;/* Green */
  color: #DA2CA9;
  border: 1px solid #DA2CA9;
}

@media (max-width:600px){
    .user-container {
    width: 15rem;
}

}