.header {
    height: 5rem;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.avatarContainer {
    width: 15rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.avatarContainer h3 {
    margin: 2rem;
}

.profilePic {
    width: 4.4rem;
    height: 4.4rem;
    background: url('../assets/logowithouttext.png');
    background-size: 100%;
    border-radius: 4.7rem;
    margin: .3rem;
}

.logoutContainer {
    width: 15rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutContainer button {
    font-size: 2rem;
    color: white;
    background: #E955BF;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logoutContainer button:hover {
  background-color: white; /* Green */
  color: #DA2CA9;
  border: 1px solid #DA2CA9;
}
