.titlePage{
    text-align: center;
    color: #DA2CA9;
}

.tweetSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tweetContainer{
    background-color: #EDEDED;
    border: 2px solid #DA2CA9;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    width: 30rem;
    flex-direction: column;
    margin: 1rem;
}
.userName{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0rem;

}
.tweetParagraph{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem;
}
.timeAndDate{
    font-size: 1rem;
    font-weight: 400;
}

.lowerSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.deleteBtn{
    background-color: #DA2CA9;
    margin: 1rem 0rem 0rem;
    padding: .5rem;
    color: #fff;
    border: none;
    border-radius: .5rem;
    outline: none;
    transition-duration: 0.4s;
}
.editBtn{
    background-color: #DA2CA9;
    margin: 1rem 0.5rem 0rem 0rem;
    padding: .5rem;
    border: none;
    color: #fff;
    border-radius: .5rem;
    outline: none;
    transition-duration: 0.4s;
}
.editBtn:hover {
  background-color: white; /* Green */
  color: #DA2CA9;
  border: 1px solid #DA2CA9;
}
.deleteBtn:hover {
  background-color: white; /* Green */
  color: #DA2CA9;
  border: 1px solid #DA2CA9;
}

.editContainer{
    margin: 0rem 2rem;
}
.input {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid #DA2CA9;
    outline: none;
}
.updateBtn{
    background-color: #DA2CA9;
    outline: none;
    border-radius: .5rem;
    border: none;
    padding: .6rem;
    color: #fff;
}

@media (max-width:800px){
    
    .tweetContainer{
    text-align: center;
    width: 14rem;
    }
    .userName{
    font-size: 1.2rem;
    }
    .tweetParagraph{
    font-size: 1rem;
    
    }
    .timeAndDate{
    font-size: .8rem;

    }
}